.button-link {
    display: inline-flex;
    align-items: center;
    gap: var(--button-gap, 0.5em);
    font-size: var(--step-0);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: var(--leading-tight);
    padding-block: 0.75rem;
    padding-inline: 1rem;
    text-decoration: none;
    border-radius: 1rem var(--rounded-xs);
    color: var(--button-text, inherit);
    background-color: var(--button-bg, var(--neutral-100));
    border: 1px solid var(--button-border, var(--site-border));
    transition: all 0.2s;

    & svg {
        position: relative;
        top: -1px;
    }

    &:hover {
        color: var(--button-text--hover, var(--button-text));
        background-color: var(--button-bg--hover, var(--neutral-200));
        border-color: var(--button-border--hover, var(--site-border));
        border-radius: var(--rounded-xs);
    }

    /* Sizes */
    &[data-size="small"] {
        font-size: var(--step--1);
    }

    /* Styles */
    &[data-style="primary"] {
        --button-text: var(--primary-100);
        --button-text--hover: white;
        --button-bg: var(--neutral-900);
        --button-bg--hover: var(--primary-700);
        --button-border: transparent;
        --button-border--hover: var(--button-border);
    }

    &[data-style="ghost-primary"] {
        --button-text: var(--primary-100);
        --button-text--hover: var(--primary-600);
        --button-bg: transparent;
        --button-bg--hover: var(--primary-100);
        --button-border: var(--primary-100);
        --button-border--hover: var(--button-border);
    }

    &[data-style="white"] {
        --button-text: var(--primary-700);
        --button-text--hover: white;
        --button-bg: white;
        --button-bg--hover: transparent;
        --button-border: transparent;
        --button-border--hover: white;
    }
}
