.tag {
    display: inline-block;
    font-size: var(--step-0);
    font-weight: var(--font-medium-weight);
    background-color: var(--accent-2-400);
    color: white;
    border: 1px solid var(--neutral-3);
    border-radius: var(--rounded-xs);
    padding-block: 0.2rem;
    padding-inline: 0.5rem;
    border-radius: var(--rounded-xs);
}
