[data-module="textImageDiptych"] {
    --panes-gap: var(--space-2xl);

    & .frame {
        --frame-aspect-ratio: 7/8;

        & img {
            border-radius: 3rem var(--rounded-xs);
        }
    }
}
