[data-module="presentationSection"] {
    background-color: var(--primary-50);
    padding-block: var(--section-spacing);

    & .items {
        & > * + * {
            margin-block-start: var(--space-xl);
        }
    }
}

@media screen and (max-width: 768px) {
    [data-module="presentationSection"] {
        & .items > * + * {
            margin-block-start: var(--space-3xl);
        }
    }
}
