.rich-text {
    --flow-space: var(--space-m);

    & > :is(h2, h3) {
        --flow-space: var(--space-xl);
    }

    & h2 {
        /* font-size: var(--step-4); */
        text-transform: lowercase;
    }

    & h3 {
        /* font-size: var(--step-3); */
        text-transform: lowercase;
    }

    & ul {
        list-style-type: disc;
    }

    & ol {
        list-style-type: decimal;
    }

    & :is(ul, ol) {
        padding-inline-start: var(--space-l);

        & > * + * {
            margin-block-start: var(--space-xs);
        }
    }

    & > img {
        border-radius: var(--rounded-xs);
        margin-block: 2rem;
    }

    & .rays {
        width: 5rem;
    }

    & .calendly-inline-widget {
        border: 1px solid var(--site-border);
    }
}

/* @media screen and (max-width: 768px) {
    .rich-text {

    }
} */
