<header class="rays-heading text-center">
    <img class="rays" src="/svg/rays.svg" width="134" height="50" alt="">
    {% if level == '2' %}
        <h2 class="lowercase">{{ heading }}</h2>
    {% elsif level == '3' %}
        <h3 class="lowercase">{{ heading }}</h3>
    {% endif %}
</header>
