.site-header {
    padding-block: var(--space-l);
    padding-inline: var(--space-2xl);

    & > .cluster {
        --cluster-justify: space-between;
    }

    & nav {
        & ul:not(.popover-panel) {
            display: flex;
            align-items: center;
            column-gap: var(--space-m);
            row-gap: var(--space-xs);
            flex-wrap: wrap;
        }
    }
}

@media screen and (max-width: 768px) {
    .site-header {
        padding-inline: var(--space-m);
    }
}
