<div class="section-spacing">
    <div class="content-wrapper slim">
        <div class="items">
            {% for item in collections.posts %}
                {% assign post = item.data.data %}
                <article class="post preview">
                    <div class="date">{{ post.displayDate | format_date }}</div>
                    <div class="text | flow" data-tempo="moderato">
                        <h2 class="text-step-4">
                            <a href="{{ post.slug }}">{{ post.title }}</a>
                        </h2>
                        <p>{{ post.preview }}</p>
                    </div>
                </article>
            {% endfor %}
        </div>
    </div>
</div>
