<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% render 'partials/components/head_meta.liquid',
            data: data,
            site_settings: sanity.site_settings,
            page: page,
            eleventy: eleventy
        %}
        {% render 'partials/components/head_assets.liquid' %}
    </head>
    <body>
        {% assign main_navigation = sanity.navigation | find: '_id', 'c48b6507-76a2-4950-b575-59d1dcd13d4b' %}
        {% assign footer_navigation = sanity.navigation | find: '_id', 'feb60ba7-6dcb-4d65-b1b4-66fc3a96a382' %}
        {% render 'partials/navigation/site_header.liquid',
            navigation: main_navigation,
            collections: collections,
            page: page
        %}
        {% block main %}
        {% endblock %}
        {% render 'partials/navigation/site_footer.liquid', navigation: footer_navigation %}
        <!-- MailerLite Universal Embed -->
        <script>
            (function (w, d, e, u, f, l, n) {
                (w[f] =
                    w[f] ||
                    function () {
                        (w[f].q = w[f].q || []).push(arguments);
                    }),
                    (l = d.createElement(e)),
                    (l.async = 1),
                    (l.src = u),
                    (n = d.getElementsByTagName(e)[0]),
                    n.parentNode.insertBefore(l, n);
            })(window, document, 'script', 'https://assets.mailerlite.com/js/universal.js', 'ml');
            ml('account', '1422755');
        </script>
        <!-- End MailerLite Universal Embed -->
    </body>
</html>
